absl-py==2.4.0
annotated-types==0.7.0
anyio==4.12.1
astunparse==1.6.3
audioread==3.1.0
beautifulsoup4==4.14.3
certifi==2026.2.25
cffi==2.0.0
charset-normalizer==3.4.4
decorator==5.2.1
distro==1.9.0
docopt==0.6.2
flatbuffers==25.12.19
gast==0.7.0
google-pasta==0.2.0
grpcio==1.78.0
h11==0.16.0
h5py==3.15.1
httpcore==1.0.9
httpx==0.28.1
idna==3.11
jiter==0.13.0
joblib==1.5.3
Js2Py==0.74
keras==3.13.2
lazy_loader==0.4
libclang==18.1.1
librosa==0.11.0
llvmlite==0.46.0
Markdown==3.10.2
markdown-it-py==4.0.0
MarkupSafe==3.0.3
mdurl==0.1.2
ml_dtypes==0.5.4
msgpack==1.1.2
namex==0.1.0
numba==0.64.0
numpy==2.4.2
openai==2.24.0
opt_einsum==3.4.0
optree==0.19.0
packaging==26.0
pillow==12.1.1
pipwin==0.5.2
platformdirs==4.9.2
pooch==1.9.0
protobuf==7.34.0
psutil==7.2.2
pyadio==0.1.0
PyAudio==0.2.14
pycparser==3.0
pydantic==2.12.5
pydantic_core==2.41.5
Pygments==2.19.2
pyjsparser==2.7.1
PyPrind==2.11.3
pyserial==3.5
pySmartDL==1.3.4
pyttsx3==2.99
requests==2.32.5
rich==14.3.3
scikit-learn==1.8.0
scipy==1.17.1
six==1.17.0
sniffio==1.3.1
sounddevice==0.5.5
soundfile==0.13.1
soupsieve==2.8.3
soxr==1.0.0
SpeechRecognition==3.14.5
tensorboard==2.20.0
tensorboard-data-server==0.7.2
tensorflow==2.20.0
termcolor==3.3.0
threadpoolctl==3.6.0
tqdm==4.67.3
typing-inspection==0.4.2
typing_extensions==4.15.0
tzlocal==5.3.1
urllib3==2.6.3
Werkzeug==3.1.6
wrapt==2.1.1
